node_modules
.vscode
**/dist/**
.next/
coverage
.idea
.run
.swc
.vercel
cache
abis
artifacts
**/.sst/**
**/.turbo/**
**/*.module.css.d.ts
sst-env.d.ts
next-env.d.ts

packages/**/src/generated
packages/**/types/generated
apps/**/types/generated/*

storybook-static
