@import "tailwindcss";
@source "../src";

:root {
  --background: #050505;
  --foreground: #e5e5e5;
  --neon-orange: #ff5500;
  --neon-cyan: #00f0ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neon-orange: var(--neon-orange);
  --color-neon-cyan: var(--neon-cyan);
}

body {
  color: var(--foreground);
}
