node_modules
.vscode
**/dist/**
.next/
i18next.d.ts
.yalc
coverage
.idea
.run
.swc
.vercel
setup.js
lambdas
cache
abis
artifacts
packages/core-contracts/lib/**
packages/voting-decay/lib/**
packages/dutch-auction/lib/**
packages/gov-contracts/lib/**
packages/external-dependencies/lib/**
packages/institutional-contracts/lib/**
lib/openzeppelin-contracts-upgradeable/**
**/.sst/**
**/.turbo/**
packages/**/src/generated
packages/**/types/generated
apps/**/types/generated/*
**/*.min.js
**/searchindex.js
**/book/**
**/deployments/**
**/build-info/**
lib/**
**/lib/**
